@tailwind base;
@tailwind components;
@tailwind utilities;

.item {
  transition: transform 0.3s ease;
}

.item:hover {
  transform: translateY(5px);
}

.bg-white {
  background-color: white;
}
.hover-bg-blue-700:hover {
  background-color: #007bff;
}
.hover-text-white:hover h1 {
  color: white;
}
.hover-text-white:hover p {
  color: white;
}
.w-550px {
  width: 550px;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.rounded-3xl {
  border-radius: 1.5rem;
}
.text-blue-800 {
  color: #0056b3;
}
.font-bold {
  font-weight: bold;
}
.text-3xl {
  font-size: 1.875rem;
}
.text-2xl {
  font-size: 1.5rem;
}
